<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo -->
    <picture class="logo-container" routerLink="/">
      <img alt="NewTec Speiseplan Logo" class="logo" src="assets/logo.svg">
    </picture>

    <!-- Links -->
    <ul class="links-container">
      <li class="link">
        <mat-icon fontIcon="notifications"></mat-icon>
      </li>
      <li class="link fs-body" routerLink="/bestellen">Bestellen</li>
      <li class="link fs-body" routerLink="/historie">Historie</li>
      <li class="link fs-body">Logout</li>
    </ul>
  </div>
</nav>

