nav {
  height: 5rem;
  background-color: var(--clrPrimary);
  color: var(--clrBackground);
}

.nav-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  cursor: pointer;
}

.logo {
  height: 3.75rem;
}

.links-container {
  display: flex;
  gap: 2rem;

  li {
    height: fit-content;
  }
}

.link {
  cursor: pointer;
}
