<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo -->
    <img alt="NewTec Speiseplan Logo" class="link logo" routerLink="/" src="assets/logo.svg">

    <!-- Links -->
    <ul class="links-container">
      <li class="link">
        <mat-icon>notifications</mat-icon>
      </li>

      <li class="link" routerLink="/bestellen">
        <p>Bestellen</p>
      </li>

      <li class="link" routerLink="/historie">
        <p>Historie</p>
      </li>

      <li class="link">
        <p>Logout</p>
      </li>
    </ul>
  </div>
</nav>

