<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo -->
    <img alt="NewTec Speiseplan Logo" class="link logo" routerLink="/" src="assets/logo.svg">

    <!-- Navigation to switch between admin-mode / user-mode -->
    <div class="user-switch-container" routerLink="/nutzer">
      <label>Nutzer-Bereich</label>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>

    <!-- Links -->
    <ul class="links-container">
      <li class="link"><mat-icon fontIcon="notifications"></mat-icon></li>
      <li class="link fs-body" routerLink="/bestellen">Bestellen</li>
      <li class="link fs-body" routerLink="/historie">Historie</li>
      <li class="link fs-body" routerLink="/login">Logout</li>
    </ul>
  </div>
</nav>

