<div class="dialog-container list-container-wide">
  <h2>Neues Gericht erstellen</h2>

  <div class="button-group">
    <button (click)="saveAsTemplate()" [disabled]="!isTemplateValid" color="primary" mat-flat-button>
      <mat-icon>save</mat-icon>
      Als Vorlage Speichern
    </button>

    <button (click)="openTemplateDialog()" color="primary" mat-flat-button>
      <mat-icon>menu_book</mat-icon>
      Vorlagen öffnen
    </button>
  </div>

  <div class="form">
    <mat-form-field>
      <mat-label>Gericht</mat-label>
      <input (change)="validate()" [(ngModel)]="name" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <input #message (change)="validate()" [(ngModel)]="description" matInput maxlength="70">
      <mat-hint align="end" class="clr-primary">{{message.value.length}} / {{MAX_LENGTH}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kategorie</mat-label>
      <mat-select (selectionChange)="validate()" [(ngModel)]="categoryId" placeholder="Kategorie wählen">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preis</mat-label>
      <input [value]="total.toString()" disabled matInput>
    </mat-form-field>

    <div class="date-time-row">
      <mat-form-field>
        <mat-label>Lieferdatum</mat-label>
        <input [value]="deliveryDate.toLocaleDateString()" disabled matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Liefer-Uhrzeit</mat-label>
        <input [(ngModel)]="deliveryTime" matInput type="time">
      </mat-form-field>
    </div>

    <div class="date-time-row">
      <mat-form-field (click)="orderable.open()">
        <mat-label>Bestellfrist-Datum</mat-label>
        <input (dateChange)="validate()" [(ngModel)]="orderableDate" [matDatepickerFilter]="dateWeekendFilter" [matDatepicker]="orderable"
               [max]="maxDate" [min]="minDate" [value]="orderableDate" matInput>
        <mat-datepicker-toggle [for]="orderable" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #orderable></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bestellfrist-Uhrzeit</mat-label>
        <input [(ngModel)]="orderTime" matInput type="time">
      </mat-form-field>
    </div>

    <div *ngIf="!areDatesValid" class="hint">
      <mat-icon class="warning">warning_amber</mat-icon>
      {{validationHint}}
    </div>
  </div>

  <div class="dialog-buttons-container">
    <button (click)="closeDialog()" color="primary" mat-stroked-button>Abbrechen</button>
    <button (click)="createMeal()" [disabled]="!isFormValid" color="primary" mat-flat-button>Erstellen</button>
  </div>
</div>
