<div class="dialog-container list-container-wide">
  <h2>Neues Gericht erstellen</h2>

  <div class="button-group">
    <button mat-flat-button color="primary" [disabled]="!isTemplateValid" (click)="saveAsTemplate()">
      <mat-icon>save</mat-icon>
      Als Vorlage Speichern
    </button>

    <button mat-flat-button color="primary" (click)="openTemplateDialog()">
      <mat-icon>menu_book</mat-icon>
      Vorlagen öffnen
    </button>
  </div>

  <div class="form">
    <mat-form-field>
      <mat-label>Gericht</mat-label>
      <input matInput [(ngModel)]="name" (change)="validate()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <input matInput #message maxlength="70" [(ngModel)]="description" (change)="validate()">
      <mat-hint class="clr-primary" align="end">{{message.value.length}} / {{MAX_LENGTH}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kategorie</mat-label>
      <mat-select placeholder="Kategorie wählen" [(ngModel)]="categoryId" (selectionChange)="validate()">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.view}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preis</mat-label>
      <input matInput disabled [value]="total.toString()">
    </mat-form-field>

    <div class="date-time-row">
      <mat-form-field>
        <mat-label>Lieferdatum</mat-label>
        <input disabled [value]="deliveryDate.toLocaleDateString()" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Liefer-Uhrzeit</mat-label>
        <input matInput [(ngModel)]="deliveryTime" type="time">
      </mat-form-field>
    </div>

    <div class="date-time-row">
      <mat-form-field (click)="orderable.open()">
        <mat-label>Bestellfrist-Datum</mat-label>
        <input [matDatepicker]="orderable" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateWeekendFilter" [value]="orderableDate" [(ngModel)]="orderableDate" matInput (dateChange)="validate()">
        <mat-datepicker-toggle [for]="orderable" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #orderable></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bestellfrist-Uhrzeit</mat-label>
        <input matInput [(ngModel)]="orderTime" type="time">
      </mat-form-field>
    </div>

    <div class="hint" *ngIf="!areDatesValid">
      <mat-icon class="warning">warning_amber</mat-icon>
      {{validationHint}}
    </div>
  </div>

  <div class="dialog-buttons-container">
    <button mat-stroked-button color="primary" (click)="closeDialog()">Abbrechen</button>
    <button mat-flat-button color="primary" (click)="createMeal()" [disabled]="!isFormValid">Erstellen</button>
  </div>
</div>
