<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo and Admin Area-->
    <div (click)="isActive = false" class="logo-container">
      <img alt="NewTec Speiseplan Logo" class="logo" routerLink="/" src="/assets/logo.svg">
      <div *ngIf="isAdmin$ | async" routerLink="/admin" class="profile-change">
        <p>Zu Admin wechseln</p>
        <mat-icon class="change">cached</mat-icon>
      </div>
    </div>

    <!-- Links -->
    <ul class="links-container">
      <li routerLinkActive="selected" [class.selected]="isActive" (click)="navigateToOrderPage()">
        <p>Bestellen</p>
      </li>

      <li routerLinkActive="selected" (click)="isActive = false" routerLink="/historie">
        <p>Historie</p>
      </li>

      <li>
        <mat-icon [matMenuTriggerFor]="accMenu" class="account-icon">account_circle</mat-icon>
        <mat-menu #accMenu>
          <button (click)="changePassword()" mat-menu-item>
            <mat-icon>lock_outline</mat-icon>
            <span>Passwort ändern</span>
          </button>
          <button (click)="changeName()" mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            Name ändern
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>