<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo and Admin Area-->
    <div class="logo-container">
      <img alt="NewTec Speiseplan Logo" class="logo" routerLink="/" src="/assets/logo.svg">
      <p *ngIf="isAdmin$ | async" class="nav-link" routerLink="/admin">Admin-Bereich</p>
    </div>

    <!-- Links -->
    <ul class="links-container">
      <li (click)="navigateToOrderPage()">
        <p>Bestellen</p>
      </li>

      <li routerLink="/historie">
        <p>Historie</p>
      </li>

      <li>
        <mat-icon [matMenuTriggerFor]="accMenu" class="account-icon">account_circle</mat-icon>
        <mat-menu #accMenu>
          <button (click)="changePassword()" mat-menu-item>Passwort ändern</button>
          <button (click)="changeName()" mat-menu-item>Name ändern</button>
          <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>

