nav {
  height: 5rem;
  background-color: var(--clrPrimary);
  color: var(--clrBackground);
}

.nav-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  img, p, mat-icon {
    cursor: pointer;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.logo {
  height: 3.75rem;
  cursor: pointer;
}

.links-container {
  display: flex;
  gap: 2rem;
}

.account-icon {
  scale: 1.25;
}
