<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo and Admin Area-->
    <div class="logo-container">
      <img alt="NewTec Speiseplan Logo" class="logo" routerLink="/" src="/assets/logo.svg">
      <p *ngIf="isAdmin$ | async" class="nav-link" routerLink="/admin">Admin-Bereich</p>
    </div>

    <!-- Links -->
    <ul class="links-container">
      <li>
        <mat-icon>notifications</mat-icon>
      </li>

      <li (click)="navigateToOrderPage()">
        <p>Bestellen</p>
      </li>

      <li routerLink="/historie">
        <p>Historie</p>
      </li>

      <li (click)="logout()">
        <p>Logout</p>
      </li>
    </ul>
  </div>
</nav>

