.admin-settings-container {
  position: relative;
  top: 1rem;
  height: 100%;

  .form-container {
    position: relative;
    top: 1.65rem;

    display: flex;
    flex-direction: column;
    gap: 1.65rem;

    .price-container {
      display: flex;
      justify-content: center;
      gap: 1.65rem;

      .price {
        width: 20%;
      }
    }

    .deliveryTime-container {
      display: flex;
      justify-content: center;
      gap: 1.65rem;

      .deliveryTime {
        width: 20%;
      }
    }

    .orderableTime-container {
      display: flex;
      justify-content: center;
      gap: 1.65rem;

      .orderableTime {
        width: 20%;
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 1.65rem;

      .set-button {
        align-self: center;
        width: 20%;
      }
    }
  }
}
