.dialog-container {
  display: flex;
  flex-direction: column;

  .textfield-group {
    display: flex;
    gap: 0.65rem;
    width: 100%;

    justify-content: right;

    .search-form-field {
      .input-content {
        display: flex;
        gap: 0.65rem;
      }
      min-width: 20%;
    }

    .category-form-field {
      min-width: 20%;
    }
  }

  .button-group {
    display: flex;
    gap: 0.65rem;

    width: 100%;

    justify-content: right;

    .button-edit {
      min-width: 20%;
    }

    .button-new {
      min-width: 20%;
    }
  }

  .table-container {
    width: 100%;

    position: relative;
    top: 0.65rem;

    td, th {
      vertical-align: middle;
    }

    .mat-mdc-row .mat-mdc-cell {
      background-color: transparent;
      cursor: pointer;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: var(--clrLightGrey);
    }
  }

  .end-group {
    display: flex;
    gap: 0.65rem;
    width: 100%;

    justify-content: right;

    position: relative;
    top: 1.65rem;

    .button-cancel {
      width: 20%;
    }

    .button-apply {
      width: 20%;
    }
  }

  .is-selected {
    background-color: var(--clrLightBlue);
  }
}
