<div class="dishes--main-container">
  <div class="dishes--date-container">
    <mat-icon color="primary">arrow_back</mat-icon>
    <h1 class="fs-title clr-primary">KW {{date.calendar.weekOfYear(date)}} &ndash; {{date.toPlainMonthDay().day - (date.dayOfWeek - 1)}}.{{date.month}}. - {{date.toPlainMonthDay().day - (date.dayOfWeek - 5)}}.{{date.month}}.</h1>
    <mat-icon color="primary">arrow_forward</mat-icon>
  </div>
  <div class="dishes--week-tabs-container">

  </div>
  <div class="dishes--publish-container">

  </div>
  <div class="dishes--dishlist-table-container">

  </div>
  <div class="dishes--add-dish-container">

  </div>
</div>
