<div class="content-container">
    <div class="title-action-container">
        <p class="fs-title clr-primary title">Nutzerverwaltung</p>
        <a class="add-user-button" mat-raised-button color="primary" aria-label="add-user">
            <span>NUTZER HINZUFÜGEN</span>
            <mat-icon>person_add</mat-icon>
        </a>
    </div>
    <div class="seperator">

    </div>
    <div class="search-container">

    </div>
    <div user-list-container>
        <ul class="list-titles">

        </ul>
        <div class="seperator"></div>
        <ul class="user-list">

        </ul>
    </div>
    <div class="entries-info-container">

    </div>
    <div class="editing-container">

    </div>
</div>
