.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.title {
  width: 100%;

  .name {
    word-wrap: break-word;
  }
}

.main-header {
  display: flex;
  gap: 1.25rem;
  align-items: start;
  width: 70%;
}

.food-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.selected-icon {
  width: max-content;
  height: max-content;
  font-size: 2rem;
  color: var(--clrSuccess);
  overflow: visible;
}
