:root {
  --clrBackground: #FAFAFA;
  --clrPrimary: #00629F;
  --clrSecondary: #526070;
  --clrNeutral: #5D5E61;
  --clrLine: #CFCFCF;

  --clrLightGrey: #CFCFCF59;
  --clrLightBlue: #00629F1A;

  --clrInfo: #29B6F6;
  --clrSuccess: #66BB6A;
  --clrWarning: #FFA726;
  --clrError: #F44336;

  --clrDisabled: rgba(16, 16, 16, 0.3);
  --clrDisabledBackground: #DCDCDC;

  --clrHover: #009dff1A;
}
