/* Tabs */
.mat-mdc-tab-list {
  border-bottom: 1px solid var(--clrLine);
}

.mdc-tab--active {
  background-color: var(--clrLightGrey);
}

/* Icon Button */
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple.mat-mdc-button-persistent-ripple {
  border-radius: inherit;
}

.mat-mdc-icon-button.mat-mdc-icon-button {
  color: white;
  background: var(--clrPrimary);
  border-radius: 0.75rem;
}

.mat-mdc-outlined-button.mat-mdc-outlined-button.mat-mdc-outlined-button {
  color: var(--clrPrimary);
  background: transparent;
  box-shadow: 0 0 0 0.0625rem var(--clrPrimary) inset;
}

/* Loading Spinner Dialog */
.spinner-dialog .mdc-dialog__surface.mdc-dialog__surface.mdc-dialog__surface {
  border-radius: 2.5rem;
  padding: 1rem;
}


mat-paginator {
  .mat-mdc-icon-button.mat-mdc-icon-button {
    color: white;
    background: transparent;
    border-radius: 0.75rem;
  }
}

mat-form-field {
  .mat-mdc-icon-button.mat-mdc-icon-button {
    color: var(--clrPrimary);
    background: transparent;
    border-radius: 0.75rem;
  }
}

mat-calendar {
  .mat-mdc-icon-button.mat-mdc-icon-button {
    color: var(--clrPrimary);
    background: transparent;
    border-radius: 0.75rem;
  }

  
}
