.mat-mdc-tab-list {
  border-bottom: 1px solid var(--clrLine);
}

.mdc-tab--active {
  background-color: var(--clrLightGrey);
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple.mat-mdc-button-persistent-ripple {
  border-radius: inherit;
}

.mat-mdc-outlined-button.mat-mdc-outlined-button.mat-mdc-outlined-button {
  color: var(--clrPrimary);
  background: transparent;
  box-shadow: 0 0 0 0.0625rem var(--clrPrimary) inset;
}

.spinner-dialog .mdc-dialog__surface.mdc-dialog__surface.mdc-dialog__surface {
  border-radius: 2.5rem;
  padding: 1rem;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: white;
  background-color: var(--clrPrimary);
}


