:root {
  --headerHeight: 5rem;
  --contentMaxWidth: 80rem;

  /* colors */
  --clrBackground: #FAFAFA;
  --clrPrimary: #00629F;
  --clrSecondary: #526070;
  --clrNeutral: #5D5E61;
  --clrLine: #CFCFCF;

  --clrLightGreyBackground: #CFCFCF59;
  --clrLightBlueBackground: #00629F1A;

  --clrInfo: #29B6F6;
  --clrSuccess: #66BB6A;
  --clrWarning: #FFA726;
  --clrError: #F44336;

  /* font weights */
  --fwRegular: 400;
  --fwMedium: 500;
}
