.tab-content {
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  /*
  * Table style
  */
  table {
    background-color: var(--clrBackground);
    position: relative;
    top: 2rem;
  }

  th, td {
    padding: 0.5rem 0;
    vertical-align: middle;
  }

  th {
    border-bottom: 1px solid var(--clrNeutral);
  }


  /*
  * Tabe Content Style
  */
  .mat-column-title {
    padding: 0.5rem 0;
    flex: none;
    vertical-align: middle;

    .extended-text {
      display: flex;
      flex-direction: column;
    }

    .show-hide-text {
      color: var(--clrPrimary);
      cursor: pointer;
    }

    .show-hide-text:hover {
      text-decoration: underline;
    }

    p {
      max-width: 90%;
    }
  }

  .mat-column-description {
    padding: 0.5rem 0;
    flex: none;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    vertical-align: middle;

    .extended-text {
      display: flex;
      flex-direction: column;
    }

    .show-hide-text {
      color: var(--clrPrimary);
      cursor: pointer;
    }

    .show-hide-text:hover {
      text-decoration: underline;
    }

    p {
      max-width: 95%;
    }
  }

  .mat-column-category {
    padding: 0.5rem 0;
    flex: none;
    width: 15%;
    vertical-align: middle;
  }

  .mat-column-action {
    padding: 0.5rem 0;
    flex: none;
    text-align: end;
    width: 5%;
    vertical-align: middle;
  }

  /*
  * Button Style
  */
  .action-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
  }

  .action-column {
    text-align: right;
  }

  .button-add {
    margin: 2rem 0 0.65rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
  }
}
