<div class="tab-content">
  <table [dataSource]="dataSource" class="bg-background" mat-table>
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>
        <h2>Gericht</h2>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell>
        <h2>Beschreibung</h2>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{element.description}}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th *matHeaderCellDef mat-header-cell>
        <h2>Kategorie</h2>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ getCategoryName(element.categoryId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>
        <h2>Aktionen</h2>
      </th>
      <td *matCellDef="let element" mat-cell>
        <div class="action-buttons">
          <button (click)="edit(element)" class="icon-button-outlined meal-edit-button" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="delete(element)" class="icon-button meal-delete-button" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

    <tr *matNoDataRow>
      <td>
        {{ "Es sind aktuell keine Gerichte für " + getNoDataDay(currentTab) + "vorhanden." }}
      </td>
    </tr>
  </table>

  <button id="meal-monday-add-button" (click)="create()" class="button-add" color="primary" mat-flat-button>
    <mat-icon>add</mat-icon>Gericht hinzufügen
  </button>
</div>