.main-layout {
  width: 30rem;
  padding: 5rem;

  display: grid;

  border: 0.0625rem solid var(--clrLine);
  border-radius: 1rem;
}

h2 {
  justify-self: center;
  margin-bottom: 2rem;
}

p {
  justify-self: center;
  margin-bottom: 2rem;
  text-align: left;
}

.reset-button {
  margin-top: 1rem;
}
