<div class="login-main-container">
  <div class="login-title">
    <picture class="logo-container">
      <img src="assets/picture_logo.png" alt="NewTec Speiseplan Logo" class="logo" >
    </picture>
    <h1 class="fs-title clr-primary">Speiseplan</h1>
  </div>
  <div class="login-section">
    <h1 class="fs-title clr-primary">Anmeldung</h1>
    <div class="input-container transparent">
      <mat-form-field color="primary" class="username-field transparent">
        <mat-label class="username-label transparent">Benutzername</mat-label>
        <input matInput class="username-input transparent">
      </mat-form-field>
      <mat-form-field class="password-field transparent">
        <mat-label class="password-label transparent">Passwort</mat-label>
        <input type="password" matInput class="password-input transparent">
      </mat-form-field>
    </div>
  </div>
  <div class="login-button-container transparent">
    <a mat-raised-button color="primary" routerLink="/gerichte">
      <mat-icon>login</mat-icon>
      <label>Anmelden</label>
    </a>
  </div>
  <div class="login-remember-user transparent">
    <mat-checkbox color="primary" class="checkbox transparent">Benutzer merken</mat-checkbox>
  </div>
</div>
