.dialog-btn-container {
  margin-left: auto;
  display: flex;
  column-gap: 10px;
  justify-content: space-between
}

.secondary-btn {
  color: var(--clrPrimary) !important;
  background-color: var(--clrBackground) !important;
  border: 2px solid var(--clrPrimary) !important;
}


.field-to-edit-container{
  display: table;
  width: 100%;
  table-layout: fixed
}


.field-to-edit {
  display: table-cell;
  text-align: left;
}
