<h1 mat-dialog-title style="color: #00629F">Neues Gericht erstellen</h1>
<div class="dg-content">
  <div class="button-group">
    <button class="button" mat-icon-button color="primary" matTooltip="Als Vorlage speichern" [disabled]="!isTemplateValid" (click)="saveAsTemplate()">
      <mat-icon>save</mat-icon>
    </button>
    <button class="button" mat-icon-button color="primary" matTooltip="Vorlage auswählen" (click)="openTemplateDialog()">
      <mat-icon>menu_book</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="fill" class="dish">
    <mat-label>Gericht</mat-label>
    <input matInput [(ngModel)]="name" (change)="validate()">
  </mat-form-field>
  <mat-form-field appearance="fill" class="description">
    <mat-label>Beschreibung</mat-label>
    <input matInput #message maxlength="70" [(ngModel)]="description" (change)="validate()">
    <mat-hint style="color: var(--clrPrimary)" align="end">{{message.value.length}} / {{MAX_LENGTH}}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" color="primary" class="category">
    <mat-label>Kategorie</mat-label>
    <mat-select placeholder="Kategorie wählen" [(ngModel)]="categoryId" (selectionChange)="validate()">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="delivery">
    <mat-form-field appearance="fill" class="delivery-1" (click)="datepicker.open()">
      <mat-label>Lieferdatum</mat-label>
      <input disabled [matDatepicker]="datepicker" (dateChange)="validate()" [(ngModel)]="deliveryDate" [value]="deliveryDate" matInput>
      <mat-hint>MM/TT/JJJJ</mat-hint>
      <mat-datepicker-toggle [for]="datepicker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="delivery-2">
      <mat-label>Lieferdatum Uhrzeit</mat-label>
      <input matInput [value]="deliveryTime" type="time" placeholder="start date">
      <mat-hint>HH:MM</mat-hint>
    </mat-form-field>
  </div>

  <div class="order">
    <mat-form-field appearance="fill" class="order-1" (click)="orderable.open()">
      <mat-label>Bestellfrist Datum</mat-label>
      <input [matDatepicker]="orderable" [value]="orderableDate" [(ngModel)]="orderableDate" matInput (dateChange)="validate()">
      <mat-hint>MM/TT/JJJJ</mat-hint>
      <mat-datepicker-toggle [for]="orderable" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #orderable></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="order-2">
      <mat-label>Bestellungsfrist Uhrzeit</mat-label>
      <input matInput [value]="time" type="time" placeholder="start date">
      <mat-hint>HH:MM</mat-hint>
    </mat-form-field>
  </div>

  <div class="hint" *ngIf="!areDatesValid">
    <mat-icon class="warning">warning_amber</mat-icon>
    {{validationHint}}
  </div>

  <form class="button-group">
    <button mat-stroked-button color="primary" (click)="onClickCancel()">ABBRECHEN</button>
    <button mat-raised-button color="primary" (click)="onClickCreate()" [disabled]="!isFormValid">ERSTELLEN</button>
  </form>
</div>
