.dg-content {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;

  position: relative;

  .dish {
    width: 60%;
    align-self: center;
  }

  .description {
    width: 60%;
    align-self: center;
  }

  .category {
    width: 60%;
    align-self: center;
  }

  .price-field {
    width: 30%;

    position: relative;
    left: 50%;
    transform: translateX(-100%);
  }

  .delivery {
    display: flex;
    width: 60%;
    gap: 0.65rem;
    align-self: center;

    .delivery-1 {
      width: 65%;
    }

    .delivery-2 {
      width: 35%;
    }
  }

  .order {
    display: flex;
    width: 60%;
    gap: 0.65rem;
    align-self: center;

    .order-1 {
      width: 65%;
    }

    .order-2 {
      width: 35%;
    }
  }

  .hint {
    align-self: center;
  }

  .warning {
    vertical-align: middle;
  }

  .button-group {
    display: flex;
    width: 60%;
    gap: .65rem;
    justify-content: right;

    padding-top: 1rem;
    padding-bottom: 1rem;

    position: relative;
    right: -50%;
    transform: translateX(-50%);
  }
}
