<mat-tab-group class="main-content">
  <mat-tab *ngFor="let month of monthData" [label]="month.date | monthName">
    <section class="section">
      <div class="section-headline-container">
        <h2>{{month.date | monthName }}</h2>

        <div class="headline-buttons">
          <button color="primary" mat-flat-button>
            <mat-icon>notifications_active</mat-icon>
            Zahlungserinnerung
          </button>

          <button color="primary" mat-flat-button>
            <mat-icon>picture_as_pdf</mat-icon>
            Exportieren
          </button>
        </div>
      </div>

      <hr class="bg-neutral"/>

      <mat-form-field appearance="fill">
        <mat-label>Suchen</mat-label>
        <input matInput placeholder="Geben sie einen Suchbegriff ein" value="">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <div class="user-container">
        <h2>Besteller</h2>
        <h2>Anzahl</h2>
        <h2>Betrag</h2>
        <h2>Bezahlstatus</h2>
        <h2></h2>
      </div>
      <hr>
      <div class="list-container">
        <div *ngFor="let users of month.orderers; let last=last" class="user-container">
          <div class="icon-with-text">
            <mat-icon>person</mat-icon>
            <p>{{users.name}}</p>
          </div>

          <div class="icon-with-text">
            <mat-icon>restaurant</mat-icon>
            <p>{{users.order_count}}</p>
          </div>

          <p>{{users.cash_sum | euro}}</p>

          <div class="icon-with-text" *ngIf="users.paid">
            <mat-icon class="clr-success">check</mat-icon>
            <p>bezahlt</p>
          </div>
          <div class="icon-with-text" *ngIf="!users.paid">
            <mat-icon class="clr-error">close</mat-icon>
            <p>nicht bezahlt</p>
          </div>


          <button class="icon-button" color="primary" mat-icon-button *ngIf="!users.paid">
            <mat-icon>attach_money</mat-icon>
          </button>
          <button class="icon-button-outlined" color="primary" mat-icon-button *ngIf="users.paid">
            <mat-icon>money_off</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
