.user-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 1rem;

  > button {
    justify-self: end;
  }
}

.headline-buttons {
  display: flex;
  gap: 1rem;
}


