.user-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 1rem;

  > button {
    justify-self: end;
  }
}

.headline-buttons {
  display: flex;
  gap: 1rem;
}

th.mat-mdc-header-cell {
  color: var(--clrPrimary);
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: var(--fwRegular);
}
