<mat-tab-group class="main-content">
  <mat-tab *ngFor="let month of monthData" [label]="month.date | monthName">
    <section class="section">
      <div class="section-headline-container">
        <h2>{{month.date | monthName }}</h2>

        <div class="headline-buttons">
          <button color="primary" mat-flat-button>
            <mat-icon>notifications_active</mat-icon>
            Zahlungserinnerung
          </button>

          <button color="primary" mat-flat-button>
            <mat-icon>picture_as_pdf</mat-icon>
            Exportieren
          </button>
        </div>
      </div>

      <hr class="bg-neutral"/>

      <mat-form-field appearance="fill">
        <mat-label>Suchen</mat-label>
        <input matInput placeholder="Geben sie einen Suchbegriff ein" value="">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>


      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="orderer">
          <th mat-header-cell *matHeaderCellDef>Besteller</th>
          <td mat-cell *matCellDef="let element">{{ element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Anzahl</th>
          <td mat-cell *matCellDef="let element">{{element.order_count}}</td>
        </ng-container>

        <ng-container matColumnDef="sum">
          <th mat-header-cell *matHeaderCellDef>Betrag</th>
          <td mat-cell *matCellDef="let element">{{element.cash_sum}}</td>
        </ng-container>

        <ng-container matColumnDef="paid_status">
          <th mat-header-cell *matHeaderCellDef>Bezahlstatus</th>
          <td mat-cell *matCellDef="let element">
            <div class="icon-with-text" *ngIf="element.paid">
              <mat-icon class="clr-success">check</mat-icon>
              <p>bezahlt</p>
            </div>
            <div class="icon-with-text" *ngIf="!element.paid">
              <mat-icon class="clr-error">close</mat-icon>
              <p>nicht bezahlt</p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="paid_button">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="icon-button" color="primary" mat-icon-button *ngIf="!element.paid" (click)="element.paid = true" >
              <mat-icon>attach_money</mat-icon>
            </button>
            <button class="icon-button-outlined" color="primary" mat-icon-button *ngIf="element.paid" (click)="element.paid = false">
              <mat-icon>money_off</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>
  </mat-tab>
</mat-tab-group>
