<mat-tab-group class="main-content">
  <mat-tab *ngFor="let monthData of historyData" [label]="monthData.date | monthName">
    <section class="section">
      <!-- Headline -->
      <div class="section-headline-container">
        <h2>Bestellungen - {{monthData.date | monthName}}</h2>
        <h2>{{monthData.total | euro}}</h2>
      </div>

      <hr class="bg-neutral"/>

      <!-- List -->
      <div class="list-container-wide">
        <ng-container *ngFor="let order of monthData.orders; let last = last">
          <div class="grid align-center">
            <!-- Date -->
            <p class="span-4">{{order.date | weekdayName}}, {{order.date.toLocaleString()}}</p>

            <!-- Name -->
            <div class="span-3 icon-with-text">
              <mat-icon>person</mat-icon>
              <p>{{order.meals.length}}</p>
            </div>

            <!-- Meal -->
            <div class="span-3 icon-with-text">
              <mat-icon>restaurant</mat-icon>
              <p>{{order.meals.join(", ")}}</p>
            </div>

            <!-- Price -->
            <p class="span-2 justify-self-end">{{order.amount | euro}}</p>
          </div>

          <hr *ngIf="!last">
        </ng-container>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
