<ng-container *ngIf="months.length; else noHistoryData">
  <mat-tab-group class="main-content">
    <mat-tab *ngFor="let month of months" [label]="month.date | monthName">
      <section class="section">
        <div class="section-headline-container">
          <h2>Bestellungen — {{month.date | monthName}}</h2>
          <h2>{{month.total | euro}}</h2>
        </div>

        <hr class="bg-neutral"/>

        <div class="list-container-wide">
          <ng-container *ngFor="let day of month.days; let last = last">
            <div class="grid align-center">
              <!-- Date -->
              <p class="span-3">{{day.date | fullDate}}</p>

              <!-- Name -->
              <div class="span-2 icon-with-text">
                <mat-icon>person</mat-icon>
                <p>{{day.mealCount}}</p>
              </div>

              <!-- Meal -->
              <div class="span-5 icon-with-text">
                <mat-icon>restaurant</mat-icon>
                <p>{{day.mealNames.join(", ")}}</p>
              </div>

              <!-- Price -->
              <p class="span-2 justify-self-end">{{day.total | euro}}</p>
            </div>

            <hr *ngIf="!last">
          </ng-container>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #noHistoryData>
  <p class="main-content">Historie aktuell nicht verfügbar.</p>
</ng-template>
