<div class="dialog-container">
  <section class="section">
    <h2>Bestellung Bearbeiten</h2>

    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Datum auswählen</mat-label>
      <input [(ngModel)]="order.date" [matDatepicker]="datepicker" matInput>
      <mat-hint>MM/TT/JJJJ</mat-hint>
      <mat-datepicker-toggle [for]="datepicker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Abbrechen</button>
          <button color="primary" mat-raised-button matDatepickerApply>OK</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Besteller</mat-label>
      <input [(ngModel)]="order.buyer" matInput type="text"/>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Gast</mat-label>
      <input [(ngModel)]="order.guest" matInput type="text"/>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Menü</mat-label>
      <input [(ngModel)]="order.meals" matInput type="text"/>
    </mat-form-field>

    <button (click)="closeDialog(false)" class="secondary-btn" color="primary" mat-flat-button> STORNIEREN</button>

    <div class="dialog-btn-container">
      <button (click)="closeDialog(false)" class="secondary-btn" color="primary" mat-flat-button> ABBRECHEN</button>
      <button (click)="closeDialog(true)" color="primary" mat-flat-button> BESTÄTIGEN</button>
    </div>
  </section>
</div>
