<div class="dialog-container">
    <section class="section">
      <h2>Bestellung Bearbeiten</h2>
      
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Datum auswählen</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="order.date">
        <mat-hint>MM/TT/JJJJ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Abbrechen</button>
            <button mat-raised-button color="primary" matDatepickerApply>OK</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Besteller</mat-label>
        <input matInput type="text" [(ngModel)]="order.buyer" />
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Gast</mat-label>
        <input matInput type="text" [(ngModel)]="order.guest" />
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Menü</mat-label>
        <input matInput type="text" [(ngModel)]="order.meals" />
      </mat-form-field>

      <button class="secondary-btn" mat-flat-button color="primary" (click)="closeDialog(false)"> STORNIEREN </button>

      <div class="dialog-btn-container">
        <button class="secondary-btn" mat-flat-button color="primary" (click)="closeDialog(false)"> ABBRECHEN </button>
        <button mat-flat-button color="primary" (click)="closeDialog(true)"> BESTÄTIGEN </button>
    </div>
    </section>
  </div>
  