<div class="dialog-container list-container-wide choose-dish-container">
  <h2>Gericht auswählen</h2>

  <div class="textfield-container">
    <mat-form-field>
      <mat-label>Suchen</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input #searchInput (keyup)="applySearch($event)" matInput>
      <span matSuffix>
        <button *ngIf="searchInput.value" mat-icon-button (click)="removeSearch($event, searchInput)">
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kategoriefilter</mat-label>
      <mat-select #category (selectionChange)="applyFilter($event)" placeholder="Kategorie wählen">
        <mat-option><mat-icon>close</mat-icon>Kein Filter</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-container">
    <table [dataSource]="dataSource" class="bg-background" mat-table>
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>
          <h2>Gericht</h2>
        </th>
        <td *matCellDef="let element" mat-cell>
          <p *ngIf="element.name.length <= MAX_MEAL_LENGTH">{{ element.name }}</p>
          <p *ngIf="element.name.length > MAX_MEAL_LENGTH && !element.showMore">{{minimalize(element.name,
            MAX_MEAL_LENGTH)}}<span class="show-hide-text" (click)="toggleShowMore(element)"><br>mehr anzeigen</span>
          </p>
          <p *ngIf="element.name.length > MAX_MEAL_LENGTH && element.showMore" class="extended-text">
            {{extend(element.name, MAX_MEAL_LENGTH)}}<span class="show-hide-text"
              (click)="toggleShowMore(element)">weniger anzeigen</span></p>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell>
          <h2>Beschreibung</h2>
        </th>
        <td *matCellDef="let element" mat-cell>
          <p *ngIf="element.description.length <= MAX_DESC_LENGTH">{{ element.description }}</p>
          <p *ngIf="element.description.length > MAX_DESC_LENGTH && !element.showMore">{{minimalize(element.description,
            MAX_DESC_LENGTH)}}<span class="show-hide-text" (click)="toggleShowMore(element)"><br>mehr anzeigen</span>
          </p>
          <p *ngIf="element.description.length > MAX_DESC_LENGTH && element.showMore" class="extended-text">
            {{extend(element.description, MAX_DESC_LENGTH)}}<span class="show-hide-text"
              (click)="toggleShowMore(element)">weniger anzeigen</span></p>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>
          <h2>Kategorie</h2>
        </th>
        <td *matCellDef="let element" mat-cell>{{getCategoryName(element.categoryId)}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef class="action-column" mat-header-cell>
          <h2>Aktion</h2>
        </th>
        <td *matCellDef="let element" mat-cell>
          <div class="action-buttons">
            <button (click)="onClickDelete(element)" class="icon-button" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedData" mat-header-row></tr>
      <tr (click)="selectRow(row)" *matRowDef="let row; columns: displayedData;"
        [class.is-selected]="clickedRows.has(row)" mat-row>
      </tr>
      <tr *matNoDataRow>
        <td class="no-data">
          {{searchInput.value.length == 0 && !getCategoryName(category.id) ?
          "Es sind keine Gerichte vorhanden." : searchInput.value.length != 0 ?
          "Es existiert kein Eintrag mit \"" + searchInput.value + "\"" : "Es existiert kein Eintrag mit \"" +
          getCategoryName(category.value) + "\""
          }}
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
  </div>

  <div class="dialog-action-button-container">
    <button (click)="onClickCancel()" color="primary" mat-stroked-button>Abbrechen</button>
    <button [disabled]="clickedRows.size === 0" (click)="onClickApply(clickedRows)" color="primary"
      mat-flat-button>Bestätigen</button>
  </div>
</div>