<form [formGroup]="form" class="main-layout">
  <h2>NewTec Speiseplan</h2>

  <mat-form-field (click)="emailInvalid = false">
    <mat-label>E-Mail</mat-label>
    <input formControlName="email" id="login-email-input" matInput required>
    <mat-hint *ngIf="emailInvalid" class="clr-error">E-Mail ungültig!</mat-hint>
  </mat-form-field>

  <mat-form-field [class.invalidEmail]="emailInvalid" (click)="passwordInvalid = false">
    <mat-label>Passwort</mat-label>
    <input formControlName="password" matInput required [type]="getInputType()">
    <button type="button" (click)="toggleHide()" mat-icon-button matSuffix>
      <mat-icon class="clr-primary">{{getVisibilityIcon()}}</mat-icon>
    </button>
    <mat-hint *ngIf="passwordInvalid" class="clr-error">Passwort ungültig!</mat-hint>
  </mat-form-field>

  <p [class.invalidPassword]="passwordInvalid" class="clr-primary link reset-password" routerLink="/auth/reset">Passwort
    zurücksetzen</p>

  <button (click)="onSubmit()" class="login-button" color="primary" mat-flat-button>Login</button>

  <p class="clr-primary link" routerLink="/auth/register">Registrieren</p>
</form>