<form [formGroup]="form" class="main-layout">
  <h2>NewTec Speiseplan</h2>

  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input formControlName="email" id="login-email-input" matInput required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input formControlName="password" matInput required [type]="getInputType()">
    <button type="button" (click)="toggleHide()" mat-icon-button matSuffix>
      <mat-icon class="clr-primary">{{getVisibilityIcon()}}</mat-icon>
    </button>
  </mat-form-field>

  <p class="clr-primary link reset-password" routerLink="/auth/reset">Passwort zurücksetzen</p>

  <button (click)="onSubmit()" class="login-button" color="primary" mat-flat-button>Login</button>

  <p class="clr-primary link" routerLink="/auth/register">Registrieren</p>
</form>
