<nav class="mat-elevation-z6">
  <div class="content-wrapper nav-container">
    <!-- Logo and User Area-->
    <div class="logo-container">
      <img alt="NewTec Speiseplan Admin Logo" class="logo" routerLink="/admin" src="/assets/logo-admin.svg">
      <div class="profile-change" routerLink="/">
        <p>Zu Nutzer wechseln</p>
        <mat-icon class="change">cached</mat-icon>
      </div>
    </div>

    <!-- Links -->
    <ul class="links-container">
        <li routerLinkActive="selected" routerLink="/admin/meal-management">
            <p>Gerichte</p>
        </li>

      <li routerLinkActive="selected" routerLink="/admin/order-management">
        <p>Bestellungen</p>
      </li>

      <li routerLinkActive="selected" routerLink="/admin/month-overview">
        <p>Monatsübersicht</p>
      </li>

      <li routerLinkActive="selected" routerLink="/admin/admin-management">
        <p>Admins</p>
      </li>

      <li (click)="logout()">
        <p>Logout</p>
      </li>
    </ul>
  </div>
</nav>

