<div class="main-content">
  <!-- Top Boxes -->
  <section class="box-home-container">
    <!-- Räuberteller -->
    <div class="box-home">
      <h2>Verfügbare Räuberteller ({{banditPlates.length}})</h2>
      <button (click)="openBanditPlateDialog()" color="primary" mat-flat-button>Anzeigen</button>
    </div>

    <!-- Saldo -->
    <div class="box-home">
      <h2>Saldo {{date | monthName}} {{date.year}}</h2>
      <h2 class="clr-black">{{saldo | euro}}</h2>
    </div>
  </section>

  <!-- Schnelle Bestellung -->
  <section class="section">
    <h2>Schnelle Bestellung — Dienstag 25.10.22</h2>
    <hr class="bg-neutral"/>

    <!-- Cards -->
    <div class="order-card-container">
      <app-order-card
        *ngFor="let menu of menues"
        [amount]="menu.amount"
        [description]="menu.description"
        [icon]="menu.icon"
        [name]="menu.name"
        [ngClass]="{'selected': menu.ordered}"
        [selected]="menu.ordered"
        class="mat-elevation-z1"
      >
      </app-order-card>
    </div>
  </section>

  <!-- Meine Bestellung -->
  <section class="section">
    <h2>Meine Bestellung — Montag 24.10.22</h2>
    <hr class="bg-neutral"/>

    <!-- List -->
    <div class="list-container">
      <ng-container *ngFor="let order of myOrderToday; let last = last">
        <div class="my-order-item-container">
          <!-- Name -->
          <div class="icon-with-text">
            <mat-icon>person</mat-icon>
            <p>{{order.name}}</p>
          </div>

          <!-- Meal -->
          <div class="icon-with-text">
            <mat-icon>restaurant</mat-icon>
            <p>{{order.meal}}</p>
          </div>

          <button
            [disabled]="order.offered"
            color="primary"
            mat-flat-button
          >
            {{order.offered ? "Angeboten" : "Anbieten"}}
          </button>
        </div>

        <hr *ngIf="!last">
      </ng-container>
    </div>
  </section>

  <!-- Offene Bestellungen -->
  <section class="section">
    <h2>Offene Bestellungen</h2>
    <hr class="bg-neutral"/>

    <!-- List -->
    <div class="list-container">
      <ng-container *ngFor="let order of myOrders; let last = last">
        <div class="open-order-item-container">
          <!-- Date -->
          <a href="/bestellen">
            <p class="clr-primary">{{order.date | weekdayName}}, {{order.date.toLocaleString()}}</p>
          </a>

          <!-- Meal -->
          <div class="icon-with-text">
            <mat-icon>restaurant</mat-icon>
            <p>{{order.meals.join(", ")}}</p>
          </div>

          <!-- Guests -->
          <div class="icon-with-text">
            <mat-icon fontSet="material-icons-outlined">group_add</mat-icon>
            <p>{{order.guests}}</p>
          </div>

          <!-- Cancel -->
          <button class="icon-button" mat-icon-button>
            <mat-icon>no_food</mat-icon>
          </button>

        </div>
        <hr *ngIf="!last">
      </ng-container>
    </div>
  </section>
</div>
