<div class="main-content">
  <div class="section">
    <div class="section-headline-container">
      <h2>Gerichteverwaltung</h2>
      <button (click)="openDefaultSettingsDialog()" class="standard-settings-button" color="primary" mat-stroked-button>
        <mat-icon>tune</mat-icon>
        Standardwerte anpassen
      </button>
    </div>

    <hr class="bg-neutral"/>
  </div>

  <div class="dishes--date-container">
    <button (click)="getPreviousCalendarWeek()" [disabled]="this.calendarWeekIndex == 0" class="arrow-button"
            mat-icon-button>
      <mat-icon class="arrow-back" color="primary">arrow_back</mat-icon>
    </button>

    <h2>{{ currentlyDisplayedWeek.span }}</h2>

    <button (click)="getNextCalendarWeek()" [disabled]="this.calendarWeekIndex == MAX_FOLLOWING_WEEKS" class="arrow-button"
            mat-icon-button>
      <mat-icon class="arrow-forward" color="primary">arrow_forward</mat-icon>
    </button>
  </div>

  <div class="dishes--week-tabs-container">
    <mat-tab-group #tabs (selectedTabChange)="onTabChange($event)" [selectedIndex]="currentTab" animationDuration="0ms">
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 0" label="Montag">
        <table [dataSource]="dataSource" class="bg-background" id="table-monday" mat-table>
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell style="width: 20%">
              <h2>Gericht</h2>
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th *matHeaderCellDef mat-header-cell style="width: 65%">
              <h2>Beschreibung</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell style="width: 10%">
              <h2>Kategorie</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ getCategoryName(element.categoryId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 5%">
              <h2>Aktion</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              <div class="action-buttons">
                <button (click)="onClickDeleteDish(element)" class="icon-button" color="primary" mat-icon-button
                        matTooltip="Entfernen"
                        matTooltipPosition="right">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4" style="
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
              ">
              {{ "Es sind keine Daten vorhanden." }}
            </td>
          </tr>
        </table>

        <button (click)="onClickChooseDish()" class="button-add" color="primary" mat-flat-button>
          GERICHT HINZUFÜGEN
        </button>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex  > 1" label="Dienstag">
        <table [dataSource]="dataSource" class="bg-background dish-table" mat-table>
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 20%">
              <h2>Gericht</h2>
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 65%">
              <h2>Beschreibung</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 10%">
              <h2>Kategorie</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ getCategoryName(element.categoryId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 5%">
              <h2>Aktion</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              <div class="action-buttons">
                <button (click)="onClickDeleteDish(element)" class="icon-button" color="primary" mat-icon-button
                        matTooltip="Entfernen"
                        matTooltipPosition="right">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4" style="
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
              ">
              {{ "Es sind keine Daten vorhanden." }}
            </td>
          </tr>
        </table>

        <button (click)="onClickChooseDish()" class="button-add" color="primary" mat-flat-button>
          GERICHT HINZUFÜGEN
        </button>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 2" label="Mittwoch">
        <table [dataSource]="dataSource" class="bg-background dish-table" mat-table>
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 20%">
              <h2>Gericht</h2>
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 65%">
              <h2>Beschreibung</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 10%">
              <h2>Kategorie</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ getCategoryName(element.categoryId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 5%">
              <h2>Aktion</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              <div class="action-buttons">
                <button (click)="onClickDeleteDish(element)" class="icon-button" color="primary" mat-icon-button
                        matTooltip="Entfernen"
                        matTooltipPosition="right">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4" style="
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
              ">
              {{ "Es sind keine Daten vorhanden." }}
            </td>
          </tr>
        </table>

        <button (click)="onClickChooseDish()" class="button-add" color="primary" mat-flat-button>
          GERICHT HINZUFÜGEN
        </button>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 3" label="Donnerstag">
        <table [dataSource]="dataSource" class="bg-background dish-table" mat-table>
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 20%">
              <h2>Gericht</h2>
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 65%">
              <h2>Beschreibung</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 10%">
              <h2>Kategorie</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ getCategoryName(element.categoryId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 5%">
              <h2>Aktion</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              <div class="action-buttons">
                <button (click)="onClickDeleteDish(element)" class="icon-button" color="primary" mat-icon-button
                        matTooltip="Entfernen"
                        matTooltipPosition="right">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4" style="
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
              ">
              {{ "Es sind keine Daten vorhanden." }}
            </td>
          </tr>
        </table>

        <button (click)="onClickChooseDish()" class="button-add" color="primary" mat-flat-button>
          GERICHT HINZUFÜGEN
        </button>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 4" label="Freitag">
        <table [dataSource]="dataSource" class="bg-background dish-table" mat-table>
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 20%">
              <h2>Gericht</h2>
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 65%">
              <h2>Beschreibung</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 10%">
              <h2>Kategorie</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ getCategoryName(element.categoryId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef class="clr-primary fs-body-bold" mat-header-cell style="width: 5%">
              <h2>Aktion</h2>
            </th>
            <td *matCellDef="let element" mat-cell>
              <button (click)="onClickDeleteDish(element)" color="primary" mat-icon-button matTooltip="Entfernen"
                      matTooltipPosition="right">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4" style="
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
              ">
              {{ "Es sind keine Daten vorhanden." }}
            </td>
          </tr>
        </table>

        <button (click)="onClickChooseDish()" class="button-add" color="primary" mat-raised-button>
          GERICHT HINZUFÜGEN
        </button>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
