<div class="dialog-container list-container-wide">
  <h2>Passwort ändern</h2>

  <form [formGroup]="form" class="text-list">
    <mat-form-field>
      <mat-label>aktuelles Passwort</mat-label>
      <input [type]="getInputType(0)" formControlName="current" matInput required>
      <button (click)="toggleHide(0)" mat-icon-button matSuffix>
        <mat-icon> {{getVisibilityIcon(0)}} </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>neues Passwort</mat-label>
      <input [type]="getInputType(1)" formControlName="new1" matInput required>
      <button (click)="toggleHide(1)" mat-icon-button matSuffix>
        <mat-icon> {{getVisibilityIcon(1)}} </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>neues Passwort wiederholen</mat-label>
      <input [type]="getInputType(2)" formControlName="new2" matInput required>
      <button (click)="toggleHide(2)" mat-icon-button matSuffix>
        <mat-icon> {{getVisibilityIcon(2)}} </mat-icon>
      </button>
    </mat-form-field>

    <p *ngIf="pwsEqual$ | async" class="clr-error">Neues und altes Passwort dürfen nicht übereinstimmen!</p>
    <p *ngIf="newPwsUnequal$ | async" class="clr-error">Neue Passwörter stimmen nicht überein!</p>
  </form>

  <div class="dialog-action-button-container">
    <button (click)="closeDialog()" mat-stroked-button>Abbrechen</button>

    <button
      (click)="changePassword()"
      [disabled]="buttonDisabled$ | async"
      color="primary"
      mat-flat-button
    >
      Bestätigen
    </button>
  </div>
</div>
