<div class="dialog-container">
  <section class="section">
    <h2>Standardwert neu setzen?</h2>

    <p>
      Durch das Bestätigen werden diese Werte als neue Standardwerte für alle
      neuenGerichte genutzt.
    </p>

    <table>
      <tr>
        <td>Standardpreis: </td>
        <td>{{data.before.total}} </td>
        <td><mat-icon style="vertical-align: middle;">east</mat-icon></td>
        <td>{{data.after.total}}</td>
      </tr>
      <tr>
        <td>Liefer-Uhrzeit</td>
        <td>{{data.before.deliveryTime}}</td>
        <td><mat-icon style="vertical-align: middle;">east</mat-icon></td>
        <td> {{data.after.deliveryTime}}</td>
      </tr>
      <tr>
        <td>Bestell-Uhrzeit: </td>
        <td>{{data.before.orderableTime}}</td>
        <td><mat-icon style="vertical-align: middle;">east</mat-icon></td>
        <td> {{data.after.orderableTime}}</td>
      </tr>
    </table>

    <strong>Möchten Sie diese Aktion dennoch durchführen?</strong>
    <div class="dialog-btn-container">
      <button
        (click)="closeDialog(false)"
        class="secondary-btn"
        color="primary"
        mat-stroked-button
      >
        ABBRECHEN
      </button>
      <button (click)="closeDialog(true)" color="primary" mat-flat-button>
        BESTÄTIGEN
      </button>
    </div>
  </section>
</div>
