<mat-tab-group class="main-content">
  <mat-tab *ngFor="let day of weekdays" [label]="day | weekdayName">
    <section class="section">
      <div class="section-headline-container">
        <h2>Tagesbestellungen - {{day | weekdayName}} </h2>
        <button (click)="downloadDayAsCsv(day)" color="primary" mat-flat-button>
          <mat-icon>picture_as_pdf</mat-icon>
          Exportieren
        </button>
      </div>
      <hr class="bg-neutral"/>
      <mat-accordion displayMode="flat" multi="true">
        <mat-expansion-panel *ngFor="let order of dataMap.get(day)">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-header">
              <div class="icon-with-text">
                <mat-icon>restaurant</mat-icon>
                <p>{{order.meal.name}}</p>
              </div>
              <p>{{order.total}}</p>
              <button (click)="onClickInform($event, order)" color="primary" mat-flat-button>
                <mat-icon>no_meals</mat-icon>
                Absagen
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let user of order.users" class="icon-with-text">
            <mat-icon>person</mat-icon>
            <p>{{user.name}}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </mat-tab>
</mat-tab-group>
