.panel-header {
  display: grid;
  grid-template-columns: 4fr 3fr 5fr;
  align-items: center;
  gap: 1rem;

  > button {
    justify-self: left;
  }
}

.order-container {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 8fr;
  align-items: flex-start;
}
