.choose-dish-container {
  width: 100vw;
}

.textfield-container {
  display: flex;
  gap: 0.5rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.table-container {
  table {
    text-align: right;
  }

  td,
  th {
    padding: 0.5rem 0;
    vertical-align: middle;
  }

  th {
    border-bottom: 1px solid var(--clrNeutral);
  }

  /* Adding some space so the selected row won't overline with the border of the content*/
  td:first-child,
  th:first-child {
    padding-left: 0.5rem;
  }

  td:last-child,
  th:last-child {
    padding-right: 0.5rem;
  }

  .mat-mdc-row {
    cursor: pointer;
  }

  .mat-mdc-row:hover {
    background-color: var(--clrLightGrey);
  }
}

.is-selected {
  background-color: var(--clrLightBlue);
}

.no-data {
  padding-top: 1rem;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.action-column {
  text-align: right;
}
