<div class="dialog-container list-container-wide choose-dish-container">
  <h2>Gericht auswählen</h2>

  <div class="textfield-container">
    <mat-form-field>
      <mat-label>Suchen</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input #searchInput (keyup)="applySearch($event)" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kategoriefilter</mat-label>
      <mat-select #category (selectionChange)="applyFilter($event)" placeholder="Kategorie wählen">
        <mat-option>Kein Filter</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-container">
    <table [dataSource]="dataSource" class="bg-background" mat-table>
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>
          <h2>Gericht</h2>
        </th>
        <td *matCellDef="let element" mat-cell>{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell>
          <h2>Beschreibung</h2>
        </th>
        <td *matCellDef="let element" mat-cell>{{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>
          <h2>Kategorie</h2></th>
        <td *matCellDef="let element" mat-cell>{{getCategoryName(element.categoryId)}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef class="action-column" mat-header-cell>
          <h2>Aktion</h2>
        </th>
        <td *matCellDef="let element" mat-cell>
          <div class="action-buttons">
            <button (click)="onClickDelete(element)" class="icon-button" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedData" mat-header-row></tr>
      <tr
        (click)="clickedRows.has(row) ? clickedRows.delete(row) : clickedRows.size < 1 ? clickedRows.add(row) : null"
        *matRowDef="let row; columns: displayedData;"
        [class.is-selected]="clickedRows.has(row)" mat-row>
      </tr>
      <tr *matNoDataRow>
        <td class="no-data">
          {{searchInput.value.length == 0 && !getCategoryName(category.id) ?
          "Es sind keine Gerichte vorhanden." : searchInput.value.length != 0 ?
            "Es existiert kein Eintrag mit \"" + searchInput.value + "\"" : "Es existiert kein Eintrag mit \"" + getCategoryName(category.value) + "\""
          }}
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[7]"></mat-paginator>
  </div>

  <div class="button-group">
    <button (click)="onClickCancel()" color="primary" mat-stroked-button>Abbrechen</button>
    <button (click)="onClickApply(clickedRows)" color="primary" mat-flat-button>Bestätigen</button>
  </div>
</div>
