<h1 mat-dialog-title class="d-title">Nutzer hinzufügen</h1>
<div mat-dialog-content class="d-content">
  <mat-form-field appearance="fill" class="d-form">
    <mat-label>Benutzername</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill" class="d-form">
    <mat-label>E-Mail</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <div class="d-admin-checkbox">
    <mat-checkbox color="primary" [(ngModel)]="data.isAdmin"></mat-checkbox>
    <label>Admin</label>
  </div>
</div>
<div mat-dialog-actions class="d-actions">
  <button mat-stroked-button color="primary" (click)="onClickCancel()">ABBRECHEN</button>
  <a mat-raised-button (click)="onClickAdd()" color="primary" aria-label="add-user" [mat-dialog-close]="data">
    <span>NUTZER HINZUFÜGEN</span>
    <mat-icon>person_add</mat-icon>
  </a>
</div>

