.d-title {
  color: var(--clrPrimary);
  margin-bottom: 2rem;
}

.d-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .d-form {
    width: 60%;
    align-self: center;
  }
}

.d-admin-checkbox {
  display: flex;
  justify-content: center;
  gap: 10%;

  label {
    align-self: center;
  }
}

.d-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}
