/* vars */
:root {
  --headerHeight: 5rem;
  --contentMaxWidth: 80rem;

  /* colors */
  --clrBackground: #FAFAFA;
  --clrPrimary: #00629F;
}

/* global styles */
.content-wrapper {
  width: 95%;
  max-width: var(--contentMaxWidth);
  margin: 0 auto;
}

html, body {
  height: 100%;
  background-color: var(--clrBackground);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
