@use "styles/css-reset";
@use "styles/vars";
@use "styles/font-styles";
@use "styles/utils";

/* global styles */
body {
  background-color: var(--clrBackground);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-wrapper {
  width: 95%;
  max-width: var(--contentMaxWidth);
  margin: 0 auto;
}

.main-layout {
  display: grid;
  gap: 2.5rem;
}
