<div class="dialog-container">
  <section class="section">
    <h2>Gericht "{{data.name}}" löschen?</h2>

    <p>Durch das Löschen des Gerichts wird es vollständig mit allen zugehörigen Bestellungen aus der
      Anwendung entfernt.
    </p>
    <strong>Möchten Sie diese Aktion dennoch durchführen?</strong>

    <div class="dialog-btn-container">
      <button (click)="closeDialog(false)" class="secondary-btn" color="primary" mat-flat-button> ABBRECHEN </button>
      <button (click)="closeDialog(true)" color="primary" mat-flat-button> LÖSCHEN </button>
    </div>

  </section>
</div>
