<div class="dialog-container list-container-wide">
  <h2>{{dialogTitle}}</h2>

  <div class="button-group">
    <button (click)="saveAsTemplate()" [disabled]="!isTemplateValid" color="primary" mat-flat-button>
      <mat-icon>save</mat-icon>
      Als Vorlage Speichern
    </button>

    <button (click)="openTemplateDialog()" color="primary" mat-flat-button>
      <mat-icon>menu_book</mat-icon>
      Vorlagen öffnen
    </button>
  </div>

  <div class="form">
    <mat-form-field id="meal-name">
      <mat-label>Gericht</mat-label>
      <input #mealTitle (change)="validate()" [(ngModel)]="name" matInput [maxlength]="MAX_LENGTH_TITLE">
      <mat-hint align="end" class="clr-primary">{{mealTitle.value.length}} / {{MAX_LENGTH_TITLE}}</mat-hint>
    </mat-form-field>

    <mat-form-field id="meal-description">
      <mat-label>Beschreibung</mat-label>
      <input (change)="validate()" [(ngModel)]="description" matInput maxlength="70">
    </mat-form-field>

    <mat-form-field id="meal-category">
      <mat-label>Kategorie</mat-label>
      <mat-select (selectionChange)="validate()" [(ngModel)]="categoryId" placeholder="Kategorie wählen">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preis</mat-label>
      <input [value]="total.toString()" disabled matInput>
    </mat-form-field>

    <div>
      <mat-form-field class="full-width-field">
        <mat-label>Lieferdatum</mat-label>
        <input id="meal-delivery-date" [value]="deliveryDate.toLocaleDateString()" disabled matInput>
      </mat-form-field>
    </div>

    <div class="date-time-row">
      <mat-form-field (click)="orderable.open()">
        <mat-label>Bestellfrist-Datum</mat-label>
        <input id="meal-orderable-date"
          (dateChange)="validate()"
          [(ngModel)]="orderableDate"
          [matDatepickerFilter]="dateWeekendFilter"
          [matDatepicker]="orderable"
          [max]="maxDate"
          [min]="minDate"
          matInput
        >
        <mat-datepicker-toggle [for]="orderable" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #orderable></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bestellfrist-Uhrzeit</mat-label>
        <input [(ngModel)]="orderTime" matInput type="time">
      </mat-form-field>
    </div>

    <div *ngIf="!areDatesValid" class="hint">
      <mat-icon class="warning">warning_amber</mat-icon>
      {{validationHint}}
    </div>
  </div>

  <div class="dialog-action-button-container">
    <button (click)="closeDialog()" color="primary" mat-stroked-button>Abbrechen</button>
    <button id="save" (click)="createMeal()" [disabled]="!isFormValid" color="primary" mat-flat-button>Speichern</button>
  </div>
</div>
