<div class="dialog-container">
    <section class="section">
        <h2>Bestellung Stornieren?</h2>

        <p>Durch das Stornieren der Bestellung wird sie vollständig aus der
            Anwendung entfernt.
        </p>
        <strong>Möchten Sie diese Aktion dennoch durchführen?</strong>

        <div class="dialog-btn-container">
            <button class="secondary-btn" mat-flat-button color="primary" (click)="closeDialog(false)"> ABBRECHEN </button>
            <button mat-flat-button color="primary" (click)="closeDialog(true)"> STORNIEREN </button>
        </div>

    </section>
</div>
