<div class="dialog-container">
  <section *ngFor="let banditPlateDay of banditPlateDays" class="section">
    <h2>Verfügbare Räuberteller — {{banditPlateDay.date | fullDate}}</h2>
    <hr class="bg-neutral"/>

    <div class="list-container">
      <ng-container *ngFor="let order of banditPlateDay.orders; let last = last">
        <div class="grid align-center">
          <!-- Name -->
          <div class="span-3 icon-with-text">
            <mat-icon>person</mat-icon>
            <p>{{order.profile.name}}</p>
          </div>

          <!-- Meal Description -->
          <div class="span-7 icon-with-text">
            <mat-icon>restaurant</mat-icon>
            <p>{{order.meal.description}}</p>
          </div>

          <button (click)="closeDialog()" class="span-2 justify-self-end" color="primary" mat-flat-button>
            Nehmen
          </button>
        </div>

        <hr *ngIf="!last">
      </ng-container>
    </div>
  </section>
</div>
