<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer" mode="side">
    <div class=" list-container-wide">
      <div class="section-headline-container">
        <h2 class="clr-black">Filter</h2>
        <button (click)="toggleFilter()" class="close-filter-btn" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="filter-form-fields">
        <mat-form-field>
          <mat-label>Besteller</mat-label>
          <input (keyup)="filterData()" [(ngModel)]="filter.buyerFilter" matInput/>
          <button
            (click)="removeFilter('buyerFilter')"
            *ngIf="filter.buyerFilter"
            mat-icon-button
            matSuffix
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gast</mat-label>
          <input (keyup)="filterData()" [(ngModel)]="filter.guestFilter" matInput/>
          <button
            (click)="removeFilter('guestFilter')"
            *ngIf="filter.guestFilter"
            mat-icon-button
            matSuffix
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Menü</mat-label>
          <input (keyup)="filterData()" [(ngModel)]="filter.mealFilter" matInput/>
          <button
            (click)="removeFilter('mealFilter')"
            *ngIf="filter.mealFilter"
            mat-icon-button
            matSuffix
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <hr>

      <mat-slide-toggle
        (change)="toggleDateIntervalMode()"
        [checked]="useDateInterval"
        color="primary"
        labelPosition="before"
      >
        Datumsspanne
      </mat-slide-toggle>

      <mat-calendar
        (selectedChange)="filterOrdersByDate($event)"
        *ngIf="!useDateInterval"
        [selected]="filter.dateFilter.startDate"
      >
      </mat-calendar>

      <mat-calendar
        (selectedChange)="selectedChange($event)"
        *ngIf="useDateInterval"
        [selected]="selectedDateRange"
      >
      </mat-calendar>

      <button (click)="removeDateFilter()" *ngIf="dateSelected" class="icon-with-text" mat-stroked-button color="primary">
        <mat-icon>close</mat-icon>
        <p>Datumsfilter entfernen</p>
      </button>

    </div>
  </mat-drawer>

  <div class="content-wrapper">
    <section>
      <!-- UI above table -->
      <div class="ui-container">
        <div class="list-container">
          <button (click)="toggleFilter()" class="icon-with-text" mat-flat-button color="primary">
            <mat-icon>filter_alt</mat-icon>
            <p>Filter</p>
          </button>

          <mat-slide-toggle
            class="slide"
            (change)="toggleEditMode()"
            [checked]="editMultipleOrders"
            color="primary"
            labelPosition="before"
          >
            Mehrere Stornieren
          </mat-slide-toggle>
        </div>

        <button
          class="edit-button"
          (click)="openCancelMultipleDialog()"
          [class.active]="editMultipleOrders"
          [disabled]="checkedOrders.length === 0"
          color="primary"
          mat-flat-button
        >
          <mat-icon>edit</mat-icon>
          Markierte stornieren
        </button>
      </div>

      <table [dataSource]="dataSource" class="bg-background" mat-table>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell>
            <h2>Datum</h2>
          </th>
          <td *matCellDef="let element" mat-cell>{{temporal.PlainDate.from(element.date) | fullDate}}</td>
        </ng-container>

        <!-- Buyer Column -->
        <ng-container matColumnDef="buyer">
          <th *matHeaderCellDef mat-header-cell>
            <h2>Besteller</h2>
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.profile.name }}</td>
        </ng-container>

        <!-- Meals Column -->
        <ng-container matColumnDef="meals">
          <th *matHeaderCellDef mat-header-cell>
            <h2>Menü</h2>
          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="icon-with-text">
              <mat-icon>restaurant</mat-icon>
              <p>{{ element.meal.name }} </p>
            </div>
          </td>
        </ng-container>

        <!-- Guest Column -->
        <ng-container matColumnDef="guest">
          <th *matHeaderCellDef mat-header-cell>
            <h2>Gast</h2>
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.guestName }}</td>
        </ng-container>


        <!-- Aktion Columns Single -->
        <ng-container matColumnDef="action-single">
          <th *matHeaderCellDef class="action-column" mat-header-cell>
            <h2>Aktion</h2>
          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="action-buttons">

              <button (click)="openCancelDialog(element)" class="icon-button" mat-icon-button>
                <mat-icon>no_food</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Aktion Columns Multiple -->
        <ng-container matColumnDef="action-multiple">
          <th *matHeaderCellDef class="action-column" mat-header-cell>
            <h2>Aktion</h2>
          </th>
          <td *matCellDef="let element" class="action-column" mat-cell>
            <mat-checkbox (change)="checkOrders($event.checked, element)" color="primary"></mat-checkbox>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        class="paginator"
        showFirstLastButtons
      >
      </mat-paginator>
    </section>
  </div>
</mat-drawer-container>
