<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidenav-header">
      <div class="nav-header-text">
        <h3>Filter</h3>
      </div>
      <button class="float-right-btn" mat-icon-button (click)="toggleFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="side-nav-content">
      <mat-form-field class="example-form-field">
        <mat-label>Besteller</mat-label>
        <input matInput type="text" [(ngModel)]="buyerFilter" />
        <button
          *ngIf="buyerFilter"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="buyerFilter = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Gast</mat-label>
        <input matInput type="text" [(ngModel)]="guestFilter" />
        <button
          *ngIf="guestFilter"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="guestFilter = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Menü</mat-label>
        <input matInput type="text" [(ngModel)]="mealFilter" />
        <button
          *ngIf="mealFilter"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="mealFilter = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="date-intervall-container">
        <label class="example-margin">Datumsspanne: </label>
        <mat-slide-toggle
          [checked]="useDateInterval"
          (change)="toggleDateIntervalMode()"
          color="primary"
        ></mat-slide-toggle>
      </div>

      <mat-form-field *ngIf="!useDateInterval" appearance="fill" class="example-form-field">
        <mat-label>Datum auswählen</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/TT/JJJJ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Abbrechen</button>
            <button mat-raised-button color="primary" matDatepickerApply>OK</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="useDateInterval" appearance="fill" class="example-form-field">
        <mat-label>Datumsspanne auswählen</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/TT/JJJJ – MM/TT/JJJJ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Abbrechen</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>OK</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>


    </div>
  </mat-drawer>

  <div class="main-content">
    <section class="custom-section">
      <!-- UI above table -->
      <div>
        <div class="filter-menu-btn">
          <button mat-icon-button (click)="toggleFilter()">
            <mat-icon>filter_alt</mat-icon>
          </button>
          <p> Filter </p>
        </div>

        <span class="edit-multiple-container">
          <label class="example-margin">Mehrere Bearbeiten: </label>
          <mat-slide-toggle
            [checked]="editMultipleOrders"
            (change)="toggleEditMode()"
            color="primary"
          ></mat-slide-toggle>
        </span>
      </div>
      <div *ngIf="editMultipleOrders" [@fadeInOut]>
        <button mat-flat-button class="icon-button icon-text-button btn-padding" color="primary">
          <div class="icon-with-text">
            <mat-icon>edit</mat-icon>
            <p>Ausgewählte bearbeiten </p>
          </div>
        </button>
      </div>
      <div>
        <table mat-table [dataSource]="dataSource">
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Datum</th>
            <td mat-cell *matCellDef="let element">{{ element.date.toLocaleString() }}</td>
          </ng-container>

          <!-- Buyer Column -->
          <ng-container matColumnDef="buyer">
            <th mat-header-cell *matHeaderCellDef>Besteller</th>
            <td mat-cell *matCellDef="let element">{{ element.buyer }}</td>
          </ng-container>

          <!-- Meals Column -->
          <ng-container matColumnDef="meals">
            <th mat-header-cell *matHeaderCellDef>Menü</th>
            <td mat-cell *matCellDef="let element">
              <div class="icon-with-text">
                <mat-icon>restaurant</mat-icon>
                <p>{{ element.meals }} </p>
              </div>
            </td>
          </ng-container>

          <!-- Guest Column -->
          <ng-container matColumnDef="guest">
            <th mat-header-cell *matHeaderCellDef>Gast</th>
            <td mat-cell *matCellDef="let element">{{ element.guest }}</td>
          </ng-container>

          <ng-container matColumnDef="action-single">
            <th mat-header-cell *matHeaderCellDef>Aktion</th>
            <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
              <button
                class="icon-button secondary"
                mat-icon-button
                (click)="openEditDialog(element)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button 
                class="icon-button primary" 
                mat-icon-button
                (click)="openCancelDialog(element)"
              >
                <mat-icon>no_food</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="action-multiple">
            <th mat-header-cell *matHeaderCellDef>Aktion</th>
            <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
              <mat-checkbox color="primary"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select orders to edit"
        >
        </mat-paginator>
      </div>
    </section>
  </div>
</mat-drawer-container>
