<form (submit)="onSubmit()" [formGroup]="form" class="main-layout">
  <h2>NewTec Speiseplan</h2>

  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input formControlName="email" matInput required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input formControlName="password" matInput required type="password">
  </mat-form-field>

  <button class="register-button" color="primary" mat-flat-button>Registrieren</button>
</form>
