<h1 mat-dialog-title class="d-title">Nutzer bearbeiten</h1>
<div mat-dialog-content class="d-content">
  <form [formGroup]="userForm" class="form-content">
    <mat-form-field appearance="fill" class="d-form">
      <mat-label>Benutzername</mat-label>
      <input formControlName="name" matInput placeholder="Benutzer">
    </mat-form-field>
    <mat-form-field appearance="fill" class="d-form">
      <mat-label>E-Mail</mat-label>
      <input formControlName="email" matInput placeholder="E-Mail">
    </mat-form-field>
    <div class="d-admin-checkbox">
      <mat-checkbox formControlName="isAdmin" color="primary"></mat-checkbox>
      <label>Admin</label>
    </div>
  </form>
</div>
<div mat-dialog-actions class="d-actions">
  <button mat-stroked-button color="primary" (click)="onClickCancel()">ABBRECHEN</button>
  <a mat-raised-button color="primary" aria-label="update-user" (click)="onClickUpdate()">
    <span>SPEICHERN</span>
  </a>
</div>
