<div class="main-content">
  <div class="section">
    <div class="section-headline-container">
      <h2>Gerichteverwaltung</h2>
      <div class="top-button-group">
        <button class="notify-users-button" color="primary" mat-stroked-button>
          <mat-icon>notifications</mat-icon>
          Nutzer benachrichtigen
        </button>
        <button (click)="editDefaultSettings()" class="standard-settings-button" color="primary" mat-flat-button>
          <mat-icon>tune</mat-icon>
          Standardwerte anpassen
        </button>
      </div>
    </div>

    <hr class="bg-neutral"/>
  </div>

  <div class="dishes--date-container">
    <button (click)="getPreviousCalendarWeek()" [disabled]="this.calendarWeekIndex == 0" class="arrow-button"
            mat-icon-button>
      <mat-icon class="icon-button">chevron_left</mat-icon>
    </button>

    <h2>{{ currentlyDisplayedWeek.span }}</h2>

    <button (click)="getNextCalendarWeek()" [disabled]="this.calendarWeekIndex == MAX_FOLLOWING_WEEKS"
            class="arrow-button"
            mat-icon-button>
      <mat-icon class="icon-button">chevron_right</mat-icon>
    </button>
  </div>

  <div class="dishes--week-tabs-container">
    <mat-tab-group data-cy="tab-group" #tabs (selectedTabChange)="onTabChange($event)" [selectedIndex]="currentTab" animationDuration="0ms">
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 0" label="Montag">
        <ng-template mat-tab-label>
          <span [matBadge]="weekCounter[0] > 0 ? weekCounter[0] : ''" matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="primary">Montag</span>
        </ng-template>
        <app-meal-tab (weekCounterEmitter)="setWeekCounter($event)" [calendarWeekIndex]="calendarWeekIndex" [currentlyDisplayedWeek]="currentlyDisplayedWeek" weekdayProperty="monday" [currentTab]="0" class="meal-tab"></app-meal-tab>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 1" label="Dienstag">
        <ng-template mat-tab-label>
          <span [matBadge]="weekCounter[1] > 0 ? weekCounter[1] : ''" matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="primary">Dienstag</span>
        </ng-template>
        <app-meal-tab (weekCounterEmitter)="setWeekCounter($event)" [calendarWeekIndex]="calendarWeekIndex" [currentlyDisplayedWeek]="currentlyDisplayedWeek" weekdayProperty="tuesday" [currentTab]="1" class="meal-tab"></app-meal-tab>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 2" label="Mittwoch">
        <ng-template mat-tab-label>
          <span [matBadge]="weekCounter[2] > 0 ? weekCounter[2] : ''" matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="primary">Mittwoch</span>
        </ng-template>
        <app-meal-tab (weekCounterEmitter)="setWeekCounter($event)" [calendarWeekIndex]="calendarWeekIndex" [currentlyDisplayedWeek]="currentlyDisplayedWeek" weekdayProperty="wednesday" [currentTab]="2" class="meal-tab"></app-meal-tab>
      </mat-tab>
      <mat-tab  [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 3" label="Donnerstag">
        <ng-template mat-tab-label>
          <span [matBadge]="weekCounter[3] > 0 ? weekCounter[3] : ''" matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="primary">Donnerstag</span>
        </ng-template>
        <app-meal-tab (weekCounterEmitter)="setWeekCounter($event)" [calendarWeekIndex]="calendarWeekIndex" [currentlyDisplayedWeek]="currentlyDisplayedWeek" weekdayProperty="thursday" [currentTab]="3" class="meal-tab"></app-meal-tab>
      </mat-tab>
      <mat-tab [disabled]="calendarWeekIndex === 0 && maxPossibleTabIndex > 4" label="Freitag">
        <ng-template mat-tab-label>
          <span [matBadge]="weekCounter[4] > 0 ? weekCounter[4] : ''" matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="primary">Freitag</span>
        </ng-template>
        <app-meal-tab (weekCounterEmitter)="setWeekCounter($event)" [calendarWeekIndex]="calendarWeekIndex" [currentlyDisplayedWeek]="currentlyDisplayedWeek" weekdayProperty="friday" [currentTab]="4" class="meal-tab"></app-meal-tab>
      </mat-tab>
      </mat-tab-group>
    </div>
</div>
