<mat-tab-group class="main-content">
  <mat-tab *ngFor="let day of orderDays" [label]="day.date | fullDate">
    <div class="content">
      <!-- Meine Bestellung -->
      <section class="section">
        <h2>Meine Bestellung</h2>
        <hr class="bg-neutral"/>

        <div class="grid" *ngIf="day.cardOrders.length">
          <app-order-card
            (click)="orderOrDelete(menu.id, menu.orderId, day.date)"
            *ngFor="let menu of day.cardOrders"
            [amount]="menu.orderCount"
            [description]="menu.description"
            [icon]="menu.icon"
            [name]="menu.name"
            [ngClass]="{'selected': menu.ordered}"
            [selected]="menu.ordered"
            class="span-4 mat-elevation-z1"
          >
          </app-order-card>
        </div>

        <p *ngIf="!day.cardOrders.length">Für diesen Tag gibt es keine Mahlzeiten zu bestellen.</p>
      </section>

      <!-- Gastbestellung -->
      <section class="section">
        <div class="section-headline-container">
          <h2>Gastbestellung</h2>
          <button mat-flat-button color="primary">
            <mat-icon>group_add</mat-icon>
            Gast hinzufügen
          </button>
        </div>

        <hr class="bg-neutral"/>

        <div class="list-container">
          <ng-container *ngFor="let guestOrder of day.guestOrders; let last = last">
            <div class="grid align-center">
              <!-- Name -->
              <p class="span-3">
                {{guestOrder.guestName}}
              </p>

              <!-- MealName -->
              <p class="span-8">
                {{guestOrder.meal.name}}
              </p>


              <button class="span-1 justify-self-end icon-button" mat-icon-button>
                <mat-icon>no_food</mat-icon>
              </button>
            </div>

            <hr *ngIf="!last">
          </ng-container>

          <p *ngIf="!day.guestOrders.length">Keine Bestellungen vorhanden.</p>
        </div>
      </section>
    </div>
  </mat-tab>
</mat-tab-group>
