<mat-tab-group
  *ngIf="orderDays.length; else noOrdersAvailable"
  [(selectedIndex)]="selectedTabIndex"
  class="main-content"
>
  <mat-tab *ngFor="let day of orderDays" [label]="day.date | fullDate">
    <div class="content">
      <!-- Meine Bestellung -->
      <section class="section">
        <h2>Meine Bestellung</h2>
        <hr class="bg-neutral"/>

        <div class="grid">
          <app-order-card
            (click)="handleOrder(orderMeal.id, orderMeal.orderId, day.date, orderMeal.ordered)"
            *ngFor="let orderMeal of day.orderMeals"
            [amount]="orderMeal.orderCount"
            [description]="orderMeal.description"
            [icon]="orderMeal.icon"
            [name]="orderMeal.name"
            [ngClass]="{'selected': orderMeal.ordered}"
            [selected]="orderMeal.ordered"
            class="span-4 mat-elevation-z1"
          >
          </app-order-card>
        </div>
      </section>

      <!-- Gastbestellung -->
      <section class="section">
        <div class="section-headline-container">
          <h2>Gastbestellung</h2>
          <button
            (click)="openGuestOrderDialog(day.date)"
            color="primary"
            mat-flat-button>
            <mat-icon>group_add</mat-icon>
            Gast hinzufügen
          </button>
        </div>

        <hr class="bg-neutral"/>

        <div class="list-container">
          <ng-container *ngFor="let guestOrder of day.guestOrders; let last = last">
            <div class="grid align-center">
              <!-- Name -->
              <div class="span-4 icon-with-text">
                <mat-icon>person</mat-icon>
                <p>{{guestOrder.guestName}}</p>
              </div>

              <!-- MealName -->
              <div class="span-7 icon-with-text">
                <mat-icon>restaurant</mat-icon>
                <p>{{guestOrder.meal.name}}</p>
              </div>


              <button
                (click)="handleOrder(guestOrder.meal.id, guestOrder.id, day.date, true)"
                class="span-1 justify-self-end icon-button"
                mat-icon-button
              >
                <mat-icon>no_food</mat-icon>
              </button>
            </div>

            <hr *ngIf="!last">
          </ng-container>

          <p *ngIf="!day.guestOrders.length">Keine Bestellungen vorhanden.</p>
        </div>
      </section>
    </div>
  </mat-tab>
</mat-tab-group>


<!-- Keine Bestellungen verfügbar -->
<ng-template #noOrdersAvailable>
  <p class="main-content">Zur Zeit gibt es keine Mahlzeiten zu bestellen.</p>
</ng-template>
