<div class="main-content">

  <!-- Schnelle Bestellung -->
  <section class="section">
    <h2>Meine Bestellung</h2>
    <hr class="bg-neutral"/>

    <!-- Cards -->
    <div class="grid">
      <app-order-card
        *ngFor="let menu of menues"
        [amount]="menu.amount"
        [description]="menu.description"
        [icon]="menu.icon"
        [name]="menu.name"
        [ngClass]="{'selected': menu.ordered}"
        [selected]="menu.ordered"
        class="span-4 mat-elevation-z1"
      >
      </app-order-card>
    </div>
  </section>

  <!-- Gastestellung -->
  <section class="section">
    <div class="section-headline-container">
      <h2>Gastestellung</h2>
      <button mat-flat-button color="primary">
        <mat-icon>group_add</mat-icon>
        Gast hinzufügen
      </button>
    </div>
    <hr class="bg-neutral"/>

    <!-- Gastbestellungen -->
    <!-- List -->
    <div class="list-container">
      <ng-container *ngFor="let order of guestOrders; let last = last">
        <div class="grid align-center">
          <!-- Name -->
          <div class="span-3 icon-with-text">
            <mat-icon>person</mat-icon>
            <p>{{order.name}}</p>
          </div>

          <!-- Meal -->
          <div class="span-7 icon-with-text">
            <mat-icon>restaurant</mat-icon>
            <p>{{order.meal}}</p>
          </div>

          <div class="span-2 button-container">
            <button mat-icon-button class="icon-button-outlined">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="icon-button">
              <mat-icon>no_food</mat-icon>
            </button>
          </div>
        </div>

        <hr *ngIf="!last">
      </ng-container>
    </div>
  </section>



</div>
